 <div class="user-details">
  <h1> A Few Words About Myself </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-apache-line-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Statistics modeling stuff I'm good at.
        Apache spark and Hadoop MapReduce.
        RDBMS design / MySQL Workbench. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <p>Coding language most familiar to least: Python, JAVA, C. Mathematically programming most familiar to least: R, SAS, MATLAB.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-jetbrains-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <p>Familiar with jetbrains tools, especially IntelliJ Idea, PyCharm and CLion. Atom is also being used a lot for code editing.</p>
    </div>
</div>
