<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="proj1" src="{{ "/assets/img/proj1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tongue Stimulation for Neural Communication of Audio Information </h3>
    <ul>
      <li> Programming: SAS, R</li>
      <li> Statistical Testing: Likelihood Tests, F-tests</li>
      <li> Mathematical Skills: Linear Mixed Modeling, Data distribution </li>
    </ul>
    <!--p>Loremtion ullamco laboris nisi ut aliquip quat.</p-->
    <a class="project-link" href="https://curc.colostate.edu/awards/">Research Poster Award</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Estimating PageRank Values of Wikipedia Articles with Apache Spark </h3>
    <ul>
      <li> Algorithms: Idealized and taxation-based Page Rank algorithms</li>
      <li> Analytics Tools: Hadoop MapReduce, Apache Spark and HDFS</li>

    </ul>
    <!--p>Lmagna aliquax ea commodo consequat.</p-->
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Document Summarization using TF/IDF Scores </h3>
    <ul>
      <li> Built an authorship identification system based on similarity analysing.</li>
      <li> Calculated TF/IDF scores and documented summarization using MapReduce</li>
    </ul>
    <!--p>Lorem magna aliqua. Ut ena commodo consequat.</p-->
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Design and implement a new Application using Raspberry Pi </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <!--p>Le magna aliqua. Ut enim ad  ea commodo consequat.</p-->
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
